$tablet-width: 600px;
$desktop-width: 1000px;

$primary-color: #01939A;
$btn-color: #00AE68;
$white-color: #FFF;
$black-color: #000;
$star-on-color: #FF8E00;
$star-off-color: #CCC;

$transition-time: 0.25s;
